* {
  font-family: "Helvetica";
}

body {
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
}

/* NAVBAR */

nav {
  background-color: #f1f3ff;
}

#navbar {
  transition: 0.3s;
}

ul li a {
  font-family: "Helvetica";
  font-style: normal;
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  margin-right: 20px;
  text-align: center;
}

ul > li > a::after {
  content: "";
  display: block;
  border-bottom: 0.1rem solid rgb(0, 0, 0);
  transform: scaleX(0);
  transition: 0.1s linear;
}

ul > li > a:hover::after {
  transform: scaleX(0.5);
}

.logo {
  background-color: #0d28a6;
  width: 100px;
  height: 34px;
}

.regist-btn {
  background-color: #5cb85f;
  color: white;
  border: #5cb85f;
  padding: 8px 12px;
  border-radius: 2px;
  line-height: 20px;
}

/* HOME */

.desc-services {
  padding-left: 5rem;
}

.judul-home {
  font-family: "Helvetica";
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
  width: 568px;
}
.capt-home {
  font-family: "Helvetica";
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  width: 438px;
}

.rent-btn {
  background-color: #5cb85f;
  color: white;
  border: #5cb85f;
  padding: 8px 12px;
  border-radius: 2px;
  line-height: 20px;
}

.rent-btn:hover {
  background-color: white;
  color: black;
}

.img-header {
  width: 100%;
}

.mobil {
  width: 100%;
  margin-left: 12px;
}

/* ABOUT */

#about {
  padding-top: 4rem;
}

.about {
  margin: 6rem 0 6rem 6rem;
}

.desc-about {
  width: 40%;
}

.judul-about {
  font-size: 24px;
  font-weight: bold;
  line-height: 36px;
}

.title-capt {
  font-size: 14px;
  font-family: "Helvetica";
  line-height: 20px;
  font-weight: 300;
  width: 100%;
}

.capt-about > p {
  font-size: 14px;
  font-family: "Helvetica";
  line-height: 20px;
  font-weight: 300;
}

.capt-about > p > span {
  margin-right: 15px;
}

.img-about {
  width: 100%;
  padding-left: 10px;
}

.services {
  width: 80%;
}

/* SERVICES */

.judul-services {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
}

.capt-services {
  margin-bottom: 3rem;
}

.card {
  background-color: #f7f7f7;
  width: 278px;
  height: 196px;
  border: 1px solid #d0d0d0;
}

.isi {
  width: 80%;
  gap: 10px;
  margin: auto;
}

.isi > h3 {
  margin-top: 20px;
  margin-bottom: 15px;
  font-size: 16px;
  font-family: "Helvetica";
  font-weight: 700;
}

.isi > p {
  font-size: 14px;
  font-family: "Helvetica";
}

/* RATING */

.card-rating {
  background-color: #f1f3ff;
  width: 619px;
  height: 270px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  margin: auto;
}

.rating-text {
  width: 415px;
}

.prev,
.next {
  border: none;
  background-color: #f7f7f7;
}

.btn-card:hover {
  fill: #5cb85f;
}

.btn-card:hover + .arrow {
  stroke: white;
}

.rent-now {
  height: 326px;
  margin: auto;
}

.rent-isi {
  margin-top: 1rem;
}

.rent-text {
  width: 468px;
}

.rent-now-btn {
  background-color: #5cb85f;
  color: white;
  border: #5cb85f;
  padding: 8px 12px;
  border-radius: 2px;
  line-height: 20px;
}

.rent-now-btn:hover {
  background-color: white;
  color: black;
}

/* FOOTER */

.addres-text {
  width: 70%;
}

@media (max-width: 1400px) {
  .judul-about {
    width: 500px;
  }

  .title-capt {
    width: 460px;
  }

  .card {
    width: 258px;
  }
}

@media (max-width: 1366px) {
  .desc-services {
    padding-left: 3rem;
  }

  .judul-home {
    width: 430px;
    font-size: 28px;
    line-height: 40px;
  }

  .capt-home {
    width: 450px;
  }

  .about {
    margin: 6rem 0 6rem 5rem;
  }

  .desc-about {
    width: 50%;
  }

  .card {
    width: 250px;
  }

  .title-capt {
    width: 450px;
  }
}

@media (max-width: 1200px) {
  .about {
    margin: 6rem 0 6rem 3rem;
  }

  .card {
    width: 205px;
  }

  .title-capt {
    width: 460px;
  }
}

@media (max-width: 1100px) {
  .about {
    margin: 6rem 0 6rem -1rem;
  }

  #about {
    margin-left: -2rem;
  }
}

@media (max-width: 991.98px) {
  .capt-home {
    width: 90%;
  }

  .judul-home {
    margin-top: 25px;
  }

  .about {
    margin: 4rem 0 4rem -4.5rem;
  }

  .judul-about {
    width: 90%;
  }

  .desc-about {
    width: 50%;
    padding-left: 1rem;
  }

  .card {
    width: 90%;
    margin: 1rem auto;
  }

  .img-about {
    width: 100%;
    padding-right: 1rem;
  }
  .img-girl {
    width: 100%;
  }

  .footer {
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
  }

  .addres > p {
    margin: 20px auto;
  }

  .service {
    margin: 15px auto;
  }

  .contact {
    margin: 20px auto;
  }

  .copyright {
    margin: 20px auto;
  }

  #about {
    margin-left: 0;
  }
}

@media (max-width: 900px) {
  .desc-services {
    padding-left: 1.5rem;
  }

  .capt-home {
    width: 350px;
  }

  .img-car {
    width: 100%;
    margin-left: 12px;
  }

  .about {
    margin: 4rem 0 4rem 0.5rem;
  }

  .desc-about {
    width: 50%;
  }

  .title-capt {
    width: 100%;
  }

  .img-about {
    width: 100%;
    padding-right: 2rem;
  }

  .img-girl {
    width: 100%;
  }

  .card {
    margin: auto;
    width: 70%;
    margin-bottom: 1.5rem;
  }

  .judul-about {
    width: 100%;
  }
}

@media (max-width: 767.98px) {
  .row > .image-services {
    order: -1;
  }

  .img-car {
    width: 525px;
    margin-left: 50px;
  }

  .img-girl {
    margin: auto;
    width: 90%;
  }

  .desc-about {
    margin-top: 2rem;
    width: 100%;
  }
}
@media (max-width: 575.98px) {
  ul > li > a::after {
    content: "";
    width: 50px;
    margin: auto;
    display: block;
    border-bottom: 0.1rem solid rgb(0, 0, 0);
    transform: scaleX(0);
    transition: 0.1s linear;
  }

  ul > li > a:hover::after {
    transform: scaleX(0.5);
  }

  .desc-services {
    padding-left: 10px;
  }

  .row > .image-services {
    order: -1;
  }

  .img-car {
    margin-left: 44px;
    width: 90%;
  }

  .judul-home {
    margin-top: 1.5rem;
    font-size: 22px;
    width: 100%;
  }

  .capt-home {
    width: 100%;
  }

  .img-girl {
    width: 100%;
  }

  .desc-about {
    width: 100%;
    margin-top: 2rem;
    padding-left: 0;
  }

  .card {
    height: 220px;
  }

  .cards-wrapper {
    flex-direction: column;
  }

  .judul-about {
    width: 100%;
    font-size: 22px;
  }

  .about {
    margin: 0;
  }

  .star {
    text-align: center;
  }

  .img-rating {
    text-align: center;
  }

  .card-rating {
    width: 85%;
    height: 320px;
  }

  .rating-text {
    width: 100%;
  }

  .rent-text {
    width: 100%;
  }

  .rent-now {
    height: 350px;
  }

  .judul-rent {
    font-size: 22px;
  }

  .footer {
    flex-direction: column;
    text-align: center;
    margin: auto;
    justify-content: center;
  }

  #about {
    padding-top: 4rem;
  }
}
@media (max-width: 325px) {
  .img-car {
    margin-left: 39px;
  }

  .judul-home {
    font-size: 20px;
    line-height: 32px;
  }

  .judul-about {
    font-size: 20px;
    margin-top: 2rem;
  }

  .desc-about {
    margin: auto;
  }

  .capt-about {
    margin-left: 0;
  }

  .capt-about > p > span {
    margin-right: 2px;
    margin-left: -8px;
  }

  .capt-about > p {
    font-size: 14px;
    width: 105%;
  }

  .title-capt {
    margin: 1rem auto;
  }

  .card-rating {
    height: 350px;
  }

  .rent-now {
    height: 400px;
  }
}
